<!doctype html>
<html lang="en">
<head>
  <meta charset=UTF-8>
  <title>Celery Example</title>
</head>
<body>
<h1>Celery Example</h1>
<p>Execute background tasks with Celery. Submits tasks and shows results using JavaScript.</p>
<h2>Add</h2>
<p>Start a task to add two numbers, then poll for the result.
<form id=add method=post action="{{ url_for("tasks.all") }}">
  <label>A <input type=number name=a value=4></label><br>
  <label>B <input type=number name=b value=2></label><br>
  <input type=submit>
</form>
<p>Result: <span id=add-result></span></p>
<script>
  const taskForm = (formName, doPoll, report) => {
    document.forms[formName].addEventListener("submit", (event) => {
      event.preventDefault()
      fetch(event.target.action, {
        method: "POST",
        body: new FormData(event.target)
      })
        .then(response => response.json())
        .then(data => {
            console.log(data);

            const evtSource = new EventSource(`/tasks/sse/${data.result_id}`);

            evtSource.onerror = (err) => {
              console.debug("Closing Server Sent Events connection!")
              
              // We might close the connection here on the bases that the connection ended because no more data will be send.
              evtSource.close();
            }
          
            evtSource.onmessage = (event) => {
              message = JSON.parse(event.data);
              if (message.status === "SUCCESS") {
                console.debug (`Result: ${message.result}`);
                
                // We must close the connection here!
                evtSource.close();
              }
              else {
                console.debug(`Stagus: ${message.status}`);
              }
            };
        })
    })
  }

  taskForm("add", true, data => {
    const el = document.getElementById("add-result")

    if (data === null) {
      el.innerText = "submitted"
    } else if (!data["ready"]) {
      el.innerText = "waiting"
    } else if (!data["successful"]) {
      el.innerText = "error, check console"
    } else {
      el.innerText = data["value"]
    }
  })

</script>
</body>
</html>